
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/ScrollTrigger.min.js"></script>


    <style>


        /*DONT PUT IT IN CSS FILE BECAUSE IT WILL NOT LOAD FASTER THEN*/
        .loadingBackground {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: #121212;
            z-index: -100000;
        }

        .loadingEffectWrap {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: transparent;
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            z-index: -100000;
        }

        .SVG_BootstrapDontTouch {
            overflow: visible;
            width: 100px;
            height: 150px;
        }

            .SVG_BootstrapDontTouch g {
                animation: slide 2s linear infinite;
            }

                .SVG_BootstrapDontTouch g:nth-child(2) {
                    animation-delay: 0.5s;
                }

                    .SVG_BootstrapDontTouch g:nth-child(2) path {
                        animation-delay: 0.5s;
                        stroke-dasharray: 0px 158px;
                        stroke-dashoffset: 1px;
                    }

            .SVG_BootstrapDontTouch path {
                stroke: url(#gradient);
                stroke-width: 20px;
                stroke-linecap: round;
                fill: none;
                stroke-dasharray: 0 157px;
                stroke-dashoffset: 0;
                animation: escalade 2s cubic-bezier(0.8, 0, 0.2, 1) infinite;
            }



        @@keyframes slide {
            0% {
                transform: translateY(-50px);
            }

            100% {
                transform: translateY(50px);
            }
        }

        @@keyframes escalade {
            0% {
                stroke-dasharray: 0 157px;
                stroke-dashoffset: 0;
            }

            50% {
                stroke-dasharray: 156px 157px;
                stroke-dashoffset: 0;
            }

            100% {
                stroke-dasharray: 156px 157px;
                stroke-dashoffset: -156px;
            }
        }
    </style>


    <div class="loadingBackground">

    </div>

    <div class="loadingEffectWrap">
        <svg class="SVG_BootstrapDontTouch">
            <g>
                <path d="M 50,100 A 1,1 0 0 1 50,0" />
            </g>
            <g>
                <path d="M 50,75 A 1,1 0 0 0 50,-25" />
            </g>
            <defs>
                <linearGradient id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">
                    <stop offset="0%" style="stop-color:#ffffff;stop-opacity:1" />
                    <stop offset="100%" style="stop-color:#000000;stop-opacity:1" />
                </linearGradient>
            </defs>
        </svg>
    </div>

</head>




@*<script src="~/lib/jquery/dist/jquery.js"></script>*@
<meta charset="utf-8" />
@*<meta name="viewport" content="width=device-width, initial-scale=1.0" />*@ @*Bugged view on phone it*@
<title>@ViewData["Title"] - WebGame</title>
@*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
@*<link rel="stylesheet" href="~/css/site.css" />*@
<base href="/">

@*<link href="~/css/portfolio.css" rel="stylesheet" />*@



<main role="main">
    @RenderBody()
</main>

@*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@RenderSection("Scripts", required: false)
<script src="_framework/blazor.server.js"></script>
@*<script src="~/lib/jquery/dist/jquery.js"></script>*@



<script>

    gsap.to('.loadingBackground', 0, { opacity: 0, autoAlpha: 0 });
    gsap.to('.SVG_BootstrapDontTouch', 3, { opacity: 0, autoAlpha: 0 });
</script>




