<script>
    /////////
    // wait until DOM is ready
    document.addEventListener("DOMContentLoaded", function (event) {

        // wait until window is loaded - all images, styles-sheets, fonts, links, and other media assets
        // you could also use addEventListener() instead
        window.onload = function () {

            // waits til next tick render to run code (prevents running in the middle of render tick)
            window.requestAnimationFrame(function () {

            });
        };

    });
</script>
<head>
    @*<style>
            /*DONT PUT IT IN CSS FILE BECAUSE IT WILL NOT LOAD FASTER THEN*/
            .loader-wrapper {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                /*	background-color: transparent;
            */ background-color: #171717;
                display: flex;
                justify-content: center;
                align-items: center;
                position: fixed;
                z-index: 9999;
            }

            svg {
                overflow: visible;
                width: 100px;
                height: 150px;
            }

                svg g {
                    animation: slide 2s linear infinite;
                }

                    svg g:nth-child(2) {
                        animation-delay: 0.5s;
                    }

                        svg g:nth-child(2) path {
                            animation-delay: 0.5s;
                            stroke-dasharray: 0px 158px;
                            stroke-dashoffset: 1px;
                        }

                svg path {
                    stroke: url(#gradient);
                    stroke-width: 20px;
                    stroke-linecap: round;
                    fill: none;
                    stroke-dasharray: 0 157px;
                    stroke-dashoffset: 0;
                    animation: escalade 2s cubic-bezier(0.8, 0, 0.2, 1) infinite;
                }

            @@keyframes slide {
                0% {
                    transform: translateY(-50px);
                }

                100% {
                    transform: translateY(50px);
                }
            }

            @@keyframes escalade {
                0% {
                    stroke-dasharray: 0 157px;
                    stroke-dashoffset: 0;
                }

                50% {
                    stroke-dasharray: 156px 157px;
                    stroke-dashoffset: 0;
                }

                100% {
                    stroke-dasharray: 156px 157px;
                    stroke-dashoffset: -156px;
                }
            }
        </style>*@
    <link rel="stylesheet" href="~/css/loader.css">

    @*Loading effect*@
    <div class="loader-wrapper">
        <svg>
            <g>
                <path d="M 50,100 A 1,1 0 0 1 50,0" />
            </g>
            <g>
                <path d="M 50,75 A 1,1 0 0 0 50,-25" />
            </g>
            <defs>
                <linearGradient id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">
                    <stop offset="0%" style="stop-color:#ffffff;stop-opacity:1" />
                    <stop offset="100%" style="stop-color:#747474;stop-opacity:1" />
                </linearGradient>
            </defs>
        </svg>
    </div>


</head>

<main role="main">
    @RenderBody()
</main>


<script src="~/lib/jquery/dist/jquery.js"></script>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>@ViewData["Title"] - WebGame</title>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />
<base href="/">

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@RenderSection("Scripts", required: false)
<script src="_framework/blazor.server.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>

