@{
    ViewData["Title"] = "Error";

    Layout = "~/Views/Shared/EnableBlazor.cshtml";




}


@{
    Layout = null;
}


<div class="main">
    <div class="text">I guess something went wrong </div>
    <br>
    <div class="text2">By the way it was error <span class="error">@ViewBag.ErrorMessage</span> <span class="face">._.</span> </div>


</div>


<style>
    body {
        text-align: center;
        padding-top: 100px;
        background: #111;
    }

    .main {
        display: block;
        width: 100%;
        height: 100%;
        color: #eee;
        font-size: 68px;
        font-family: arial;
        font-weight: bold;
        margin: auto;
        position: relative;
        overflow: hidden;
    }

        .main .text {
            display: block;
            width: inherit;
            height: inherit;
            color: #eee;
            font-size: 68px;
            font-family: arial;
            font-weight: bold;
            left: 2px;
            top: 0px;
            position: absolute;
            overflow: hidden;
            animation-name: textBlink;
            animation-duration: 2s;
            animation-iteration-count: infinite;
        }

    .text2 {
        display: block;
        width: inherit;
        height: inherit;
        color: #00ffff !important;
        font-size: 68px;
        font-family: arial;
        font-weight: bold;
        left: 2px;
        top: 40%;
        position: absolute;
        overflow: hidden;
        animation-name: textBlink;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }

    @@keyframes textBlink {
        0% {
            opacity: 1;
            left: 2px;
        }

        30% {
            opacity: .7;
        }

        70% {
            opacity: .8;
            left: -2px;
        }

        71% {
            opacity: .8;
            left: 0px;
        }

        75% {
            opacity: .8;
            left: 1px;
        }

        100% {
            opacity: 7;
            left: 0px;
        }
    }

    @@keyframes shadowDown {
        0% {
            top: 0px;
        }

        10% {
            top: 20px;
        }

        20% {
            top: 30px;
        }

        40% {
            top: 35px;
        }

        60% {
            top: 50px;
        }

        70% {
            top: 20px;
        }

        100% {
            top: 10px;
        }
    }

    @@keyframes shadowTextUp {
        0% {
            top: 0px;
        }

        10% {
            top: -20px;
            opacity: .5;
        }

        20% {
            top: -30px;
            opacity: 1;
        }

        40% {
            top: -35px;
        }

        60% {
            top: -50px;
            opacity: .5;
        }

        70% {
            top: -20px;
        }

        100% {
            top: -10px;
            opacity: 1;
        }
    }
</style>





<style>
    .error {
        color: red;
    }

    .face {
        color: #111;
    }
</style>