<!--<div class="sidemenu_file">
    <section id="about">
        <div class="container my-container" id="about">
            <h1>About</h1>
            <div class="block"></div>
            <div class="row">
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="row">
                <div class="six columns">
                    <h3><span class="typcn typcn-device-desktop icon"></span>Our Process</h3>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                </div>
                <div class="six columns">
                    <h3><span class="typcn typcn-pen icon"></span>Our Approach</h3>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                </div>
                <div class="row">
                    <div class="six columns">
                        <h3><span class="typcn typcn-cog-outline icon"></span>Our Goal</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                    </div>
                    <div class="six columns">
                        <h3><span class="typcn typcn-lightbulb icon"></span>Our Mission</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="team">
        <div class="container my-container" id="team">
            <h1>Meet the Team</h1>
            <div class="block"></div>
            <div class="row">
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="row">
                <div class="three columns">
                    <img src="http://placehold.it/220x220" width="220" height="220" alt="" />
                    <h4>Naruto Uzumaki</h4>
                    <p>Creative Director</p>
                    <span class="typcn typcn-social-facebook-circular icon"></span><span class="typcn typcn-social-instagram-circular icon"></span><span class="typcn typcn-social-google-plus-circular icon"></span><span class="typcn typcn-social-linkedin-circular icon"></span>
                </div>
                <div class="three columns">
                    <img src="http://placehold.it/220x220" width="220" height="220" alt="" />
                    <h4>Sasuke Uchiha</h4>
                    <p>Lead Designer</p>
                    <span class="typcn typcn-social-facebook-circular icon"></span><span class="typcn typcn-social-instagram-circular icon"></span><span class="typcn typcn-social-google-plus-circular icon"></span><span class="typcn typcn-social-linkedin-circular icon"></span>
                </div>
                <div class="three columns">
                    <img src="http://placehold.it/220x220" width="220" height="220" alt="" />
                    <h4>Shikamaru Nara</h4>
                    <p>Designer</p>
                    <span class="typcn typcn-social-facebook-circular icon"></span><span class="typcn typcn-social-instagram-circular icon"></span><span class="typcn typcn-social-google-plus-circular icon"></span><span class="typcn typcn-social-linkedin-circular icon"></span>
                </div>
                <div class="three columns">
                    <img src="http://placehold.it/220x220" width="220" height="220" alt="" />
                    <h4>Sakura Haruno</h4>
                    <p>Designer</p>
                    <span class="typcn typcn-social-facebook-circular icon"></span><span class="typcn typcn-social-instagram-circular icon"></span><span class="typcn typcn-social-google-plus-circular icon"></span><span class="typcn typcn-social-linkedin-circular icon"></span>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container my-container" id="services">
            <h1>Services</h1>
            <div class="block"></div>
            <div class="row">
                <div class="one-third column">
                    <h3>Design</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, recusandae, at, labore velit eligendi amet nobis repellat natus.</p>
                </div>
                <div class="one-third column">
                    <h3>Development</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, recusandae, at, labore velit eligendi amet nobis repellat natus.</p>
                </div>
                <div class="one-third column">
                    <h3>Marketing</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, recusandae, at, labore velit eligendi amet nobis repellat natus.</p>
                </div>
            </div>
            <div class="row">
                <div class="eight columns">
                    <div class="progressBar">
                        <h4>HTML5</h4>
                        <div class="progressBarContainer">
                            <div class="progressBarValue value-90"></div>
                        </div>
                    </div>
                    <div class="progressBar">
                        <h4>CSS3</h4>
                        <div class="progressBarContainer">
                            <div class="progressBarValue value-80"></div>
                        </div>
                    </div>
                    <div class="progressBar">
                        <h4>Jquery</h4>
                        <div class="progressBarContainer">
                            <div class="progressBarValue value-30"></div>
                        </div>
                    </div>
                    <div class="progressBar">
                        <h4>WordPress</h4>
                        <div class="progressBarContainer">
                            <div class="progressBarValue value-70"></div>
                        </div>
                    </div>
                </div>
                <div class="four columns">
                    <p>Lorem ipsum dolor sit amet, enim soluta consectetur adipisicing elit. Sit, eius, itaque, porro, beatae impedit officia tenetur reiciendis in quia eum autem. Enim soluta consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="work">
        <div class="container my-container" id="work">
            <h1>Work</h1>
            <div class="block"></div>
            <div class="row">
                <div class="three columns"> <img src="http://placehold.it/220x220" class="image" alt="Work One" /></div>
                <div class="three columns"> <img src="http://placehold.it/220x220" class="image" alt="Work Two" /></div>
                <div class="three columns"> <img src="http://placehold.it/220x220" class="image" alt="Work Three" /></div>
                <div class="three columns"> <img src="http://placehold.it/220x220" class="image" alt="Work Four" /></div>
            </div>
            <div class="row" style="margin-top: 30px;">
                <div class="three columns"> <img src="http://placehold.it/220x220" class="image" alt="Work Five" /></div>
                <div class="three columns"> <img src="http://placehold.it/220x220" class="image" alt="Work Six" /></div>
                <div class="three columns"> <img src="http://placehold.it/220x220" class="image" alt="Work Seven" /></div>
                <div class="three columns"> <img src="http://placehold.it/220x220" class="image" alt="Work Eight" /></div>
            </div>
        </div>
    </section>

    <section id="contact">
        <div class="container my-container" id="contact">
            <h1>Contact</h1>
            <div class="block"></div>
            <form>
                <div class="row">
                    <div class="six columns">
                        <label for="exampleRecipientInput">Name</label>
                        <input class="u-full-width" type="text">
                    </div>
                    <div class="six columns">
                        <label for="exampleEmailInput">Email</label>
                        <input class="u-full-width" type="email">
                    </div>
                </div>
                <div class="row">
                    <label for="exampleMessage">Message</label>
                    <textarea class="u-full-width"></textarea>
                    <input class="button-primary" type="submit" value="Submit">
                </div>
            </form>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="nine columns">
                <p>d-.-b</p>
            </div>
            <div class="three columns"> <span class="typcn typcn-social-facebook-circular socialIcons"></span> <span class="typcn typcn-social-instagram-circular socialIcons"></span> <span class="typcn typcn-social-google-plus-circular socialIcons"></span> <span class="typcn typcn-social-linkedin-circular socialIcons"></span> </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.js"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


    <body>

        <div class="toolbar">
            <div id="main-header" class="side-menu">
                <nav>
                    <li id="home1" class="Bhome"><a href="#home"><span>Home</span></a></li>
                    <li id="about1" class="Babout"><a href="#about"><span>About</span></a></li>
                    <li id="team1" class="Bteam">  <a href="#team"> <span>Team</span></a></li>
                    <li id="services1" class="Bservices"> <a href="#services"><span>Services</span></a></li>
                    <li id="work1" class="Bwork"><a href="#work"><span>Work</span></a></li>
                    <li id="contact1" class="Bcontact"><a href="#contact"><span>Contact</span></a></li>
                </nav>
            </div>
        </div>


        <link rel="stylesheet" href="~/css/sidemenu.css" />

        <head>
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width initial-scale=1" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />-->
            <!-- Materialize - Compiled and minified CSS-->
            <!--<link rel="stylesheet"
                  href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.95.3/css/materialize.min.css" />-->
            <!-- Font Awesome Icon - CSS-->
            <!--<link rel="stylesheet"
                  href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
            <title>Andrew Borstein | Full-Stack Front-End Developer</title>-->
            <!-- Open Graph-->

            <!--<link rel="apple-touch-icon"
                  sizes="57x57"
                  href="/assets/img/favicon/apple-icon-57x57.png" />
            <link rel="apple-touch-icon"
                  sizes="60x60"
                  href="/assets/img/favicon/apple-icon-60x60.png" />
            <link rel="apple-touch-icon"
                  sizes="72x72"
                  href="/assets/img/favicon/apple-icon-72x72.png" />
            <link rel="apple-touch-icon"
                  sizes="76x76"
                  href="/assets/img/favicon/apple-icon-76x76.png" />
            <link rel="apple-touch-icon"
                  sizes="114x114"
                  href="/assets/img/favicon/apple-icon-114x114.png" />
            <link rel="apple-touch-icon"
                  sizes="120x120"
                  href="/assets/img/favicon/apple-icon-120x120.png" />
            <link rel="apple-touch-icon"
                  sizes="144x144"
                  href="/assets/img/favicon/apple-icon-144x144.png" />
            <link rel="apple-touch-icon"
                  sizes="152x152"
                  href="/assets/img/favicon/apple-icon-152x152.png" />
            <link rel="apple-touch-icon"
                  sizes="180x180"
                  href="/assets/img/favicon/apple-icon-180x180.png" />
            <link rel="icon"
                  type="image/png"
                  sizes="192x192"
                  href="/assets/img/favicon/android-icon-192x192.png" />
            <link rel="icon"
                  type="image/png"
                  sizes="32x32"
                  href="/assets/img/favicon/favicon-32x32.png" />
            <link rel="icon"
                  type="image/png"
                  sizes="96x96"
                  href="/assets/img/favicon/favicon-96x96.png" />
            <link rel="icon"
                  type="image/png"
                  sizes="16x16"
                  href="/assets/img/favicon/favicon-16x16.png" />
            <link rel="manifest" href="/assets/img/favicon/manifest.json" />
            <meta name="msapplication-TileColor" content="#ffffff" />
            <meta name="msapplication-TileImage"
                  content="/assets/img/favicon/ms-icon-144x144.png" />
            <meta name="theme-color" content="#ffffff" />-->
            <!--if lt IE 9script(src='//html5shim.googlecode.com/svn/trunk/html5.js')
            -->
            <!--<meta name="robots" content="index, follow" />
        </head>-->

        <!-- Navigation Menu-->
        <!--<nav class="hide-on-small-only">
            <ul class="side-nav fixed section table-of-contents">
                <li class="logo">
                    <a id="logo-container"
                       aria-label="Navigate to the beginning of the page"
                       href="#intro"
                       class="brand-logo teal-text">
                        <h1>
                            Andrew Borstein<span class="brown-text light">Full Stack Developer</span>
                        </h1>
                    </a>
                </li>
                <li class="bold">
                    <a aria-label="Navigate to the About section"
                       href="#about"
                       class="waves-effect waves-dark teal-text"><i class="mdi-social-person small"></i><span>About</span></a>
                </li>
                <li class="bold">
                    <a aria-label="Navigate to the Experience section"
                       href="#experience"
                       class="waves-effect waves-dark cyan-text">
                        <i class="mdi-action-trending-up small"></i><span>Experience</span>
                    </a>
                </li>
                <li class="bold">
                    <a aria-label="Navigate to the Projects section"
                       href="#projects"
                       class="waves-effect waves-dark indigo-text"><i class="mdi-av-web small"></i><span>Projects</span></a>
                </li>
                <li class="bold">
                    <a aria-label="Navigate to the Skills section"
                       href="#skills"
                       class="waves-effect waves-dark purple-text"><i class="mdi-av-equalizer small"></i><span>Skills</span></a>
                </li>
                <li class="bold">
                    <a aria-label="Navigate to the Awards section"
                       href="#awards"
                       class="waves-effect waves-dark red-text"><i class="mdi-action-grade small"></i><span>Awards</span></a>
                </li>
                <li class="bold">
                    <a aria-label="Navigate to the Education section"
                       href="#education"
                       class="waves-effect waves-dark orange-text"><i class="mdi-social-school small"></i><span>Education</span></a>
                </li>
                <li class="bold">
                    <a aria-label="Navigate to the Contact section"
                       href="#contact"
                       class="waves-effect waves-dark brown-text"><i class="mdi-content-mail small"></i><span>Contact</span></a>
                </li>
                <li class="bold">
                    <a aria-label="Navigate to the Blog section"
                       href="#blog"
                       class="waves-effect waves-dark yellow-text text-darken-2"><i class="mdi-content-create small"></i><span>Blog</span></a>
                </li>
                <li class="bold">
                    <a aria-label="Open Andrew's resume in a new tab"
                       href="https://docs.google.com/document/d/1evlvmAcOmPTttl1isyX_UcQbLO5pK8OwB4Rs2Sv4riY"
                       target="_blank"
                       class="waves-effect waves-dark grey-text text-darken-3"><i class="mdi-action-description small"></i><span>Resume</span></a>
                </li>
            </ul>
        </nav>
        <nav class="hide-on-large only trigger z-depth-1">
            <a aria-label="Toggle visibility of the mobile navbar"
               href="#"
               data-activates="slide-out"
               class="button-collapse">
                <i class="mdi-navigation-menu"></i>
            </a>
            <div class="name-title">
                <a id="name"
                   aria-label="Navigate to the beginning of the page"
                   href="#main"
                   class="teal-text">Andrew Borstein</a><span class="brown-text light">Full Stack Developer</span>
            </div>
        </nav>
        <nav class="hide-on-large only">
            <ul id="slide-out" class="side-nav">
                <li class="bold">
                    <a aria-label="Navigate to the About section"
                       href="#about"
                       class="waves-effect waves-dark teal-text"><i class="mdi-social-person small"></i><span>About</span></a>
                </li>
                <li class="bold">
                    <a aria-label="Navigate to the Experience section"
                       href="#experience"
                       class="waves-effect waves-dark cyan-text">
                        <i class="mdi-action-trending-up small"></i><span>Experience</span>
                    </a>
                </li>
                <li class="bold">
                    <a aria-label="Navigate to the Projects section"
                       href="#projects"
                       class="waves-effect waves-dark indigo-text"><i class="mdi-av-web small"></i><span>Projects</span></a>
                </li>
                <li class="bold">
                    <a aria-label="Navigate to the Skills section"
                       href="#skills"
                       class="waves-effect waves-dark purple-text"><i class="mdi-av-equalizer small"></i><span>Skills</span></a>
                </li>
                <li class="bold">
                    <a aria-label="Navigate to the Awards section"
                       href="#awards"
                       class="waves-effect waves-dark red-text"><i class="mdi-action-grade small"></i><span>Awards</span></a>
                </li>
                <li class="bold">
                    <a aria-label="Navigate to the Education section"
                       href="#education"
                       class="waves-effect waves-dark orange-text"><i class="mdi-social-school small"></i><span>Education</span></a>
                </li>
                <li class="bold">
                    <a aria-label="Navigate to the Contact section"
                       href="#contact"
                       class="waves-effect waves-dark brown-text"><i class="mdi-content-mail small"></i><span>Contact</span></a>
                </li>
                <li class="bold">
                    <a aria-label="Navigate to the Contact section"
                       href="#blog"
                       class="waves-effect waves-dark yellow-text text-dark-3"><i class="mdi-content-mail small"></i><span>Blog</span></a>
                </li>
                <li class="bold">
                    <a aria-label="Open Andrew's Resume in a new tab"
                       href="https://docs.google.com/document/d/1evlvmAcOmPTttl1isyX_UcQbLO5pK8OwB4Rs2Sv4riY"
                       target="_blank"
                       class="waves-effect waves-dark grey-text text-darken-3"><i class="mdi-action-description small"></i><span>Resume</span></a>
                </li>
            </ul>
        </nav>-->
        <!-- Main Content-->
        <!-- Custom Styles-->
        <!-- Navigation Menu-->
        <!--<nav class="hide-on-small-only">
            <ul class="side-nav fixed section table-of-contents">
                <li class="logo">
                    <a id="logo-container"
                       aria-label="Navigate to the beginning of the page"
                       href="#intro"
                       class="brand-logo teal-text">
                        <h1>
                            Andrew Borstein<span class="brown-text light">Full Stack Developer</span>
                        </h1>
                    </a>
                </li>
                <li class="bold">
                    <a aria-label="Navigate to the About section"
                       href="#about"
                       class="waves-effect waves-dark teal-text"><i class="mdi-social-person small"></i><span>About</span></a>
                </li>
                <li class="bold">
                    <a aria-label="Navigate to the Experience section"
                       href="#experience"
                       class="waves-effect waves-dark cyan-text">
                        <i class="mdi-action-trending-up small"></i><span>Experience</span>
                    </a>
                </li>
                <li class="bold">
                    <a aria-label="Navigate to the Projects section"
                       href="#projects"
                       class="waves-effect waves-dark indigo-text"><i class="mdi-av-web small"></i><span>Projects</span></a>
                </li>
                <li class="bold">
                    <a aria-label="Navigate to the Skills section"
                       href="#skills"
                       class="waves-effect waves-dark purple-text"><i class="mdi-av-equalizer small"></i><span>Skills</span></a>
                </li>
                <li class="bold">
                    <a aria-label="Navigate to the Awards section"
                       href="#awards"
                       class="waves-effect waves-dark red-text"><i class="mdi-action-grade small"></i><span>Awards</span></a>
                </li>
                <li class="bold">
                    <a aria-label="Navigate to the Education section"
                       href="#education"
                       class="waves-effect waves-dark orange-text"><i class="mdi-social-school small"></i><span>Education</span></a>
                </li>
                <li class="bold">
                    <a aria-label="Navigate to the Contact section"
                       href="#contact"
                       class="waves-effect waves-dark brown-text"><i class="mdi-content-mail small"></i><span>Contact</span></a>
                </li>
                <li class="bold">
                    <a aria-label="Navigate to the Blog section"
                       href="#blog"
                       class="waves-effect waves-dark yellow-text text-darken-2"><i class="mdi-content-create small"></i><span>Blog</span></a>
                </li>
                <li class="bold">
                    <a aria-label="Open Andrew's resume in a new tab"
                       href="https://docs.google.com/document/d/1evlvmAcOmPTttl1isyX_UcQbLO5pK8OwB4Rs2Sv4riY"
                       target="_blank"
                       class="waves-effect waves-dark grey-text text-darken-3"><i class="mdi-action-description small"></i><span>Resume</span></a>
                </li>
            </ul>
        </nav>
    </body>
</div>-->

<!-- jQuery-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>-->

<!-- Materialize - Compiled and minified JavaScript-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.95.3/js/materialize.min.js"></script>
<script>
    // Materialize - Initializers
    $(document).ready(function () {
        $(".scrollspy").scrollSpy();
        // Initialize collapse button
        $(".button-collapse").sideNav({
            menuWidth: 190, // Default is 240
            edge: "left", // Choose the horizontal origin
            closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
        });
    });
</script>-->
