@using System.Web;
@using System.Security.Claims;
@using Microsoft.AspNetCore.SignalR.Client
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.EntityFrameworkCore


@{
    //Layout = null;
    Layout = "~/Views/Shared/EnableBlazor.cshtml";
}


@*@(await Html.RenderComponentAsync<WebGame.Components.Portfolio>(RenderMode.ServerPrerendered))*@







<head>

    <link rel="stylesheet" href="~/css/rightSidebar.css">
    @*<link rel="stylesheet" href="~/css/loader.css">*@
    <link rel="stylesheet" href="~/css/index.css">
</head>
@*<section data-scrollbar>
        <img id="my-scrollbar" src="~/images/greenRing.jpg">
    </section>

    <script>Scrollbar.initAll();</script>*@

<body>



    <header id="home">


        <div class="main_nav">
            <div class="container">
                <div class="mobile-toggle"> <span></span> <span></span> <span></span> </div>
                <nav>
                    <ul>
                        <li><a href="#home" class="home">Home</a></li>
                        <li><a href="#about" class="about">About</a></li>
                        <li><a href="#services" class="services">Services</a></li>
                        <li><a href="#work" class="work">Work</a></li>
                        <li><a href="#contact" class="contact">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="container my-container title" id="home">
            <div><span class="typcn typcn-heart-outline icon heading"></span></div>
            @*<div class="smallsep heading"></div>*@
            <h1 class="heading"><span class="name">Siim Tulev</span> </h1>
            <h2 class="heading"><span class="workName">Web Developer & Designer</span></h2>
            <a class="smoothscroll"

            <div class="mouse">
                <div class="wheel"></div>
            </div>
        </a>
        </div>
        <a href="#about" class="smoothscroll" style="cursor: pointer;">
            <div class="scroll-down"> </div>
        </a>
    </header>

    <section id="about">
        <div class="container my-container" id="about">
            <h1>About</h1>
            <div class="block"></div>
            <div class="row">
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="row">
                <div class="six columns">
                    <h3><span class="typcn typcn-device-desktop icon"></span>Our Process</h3>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                </div>
                <div class="six columns">
                    <h3><span class="typcn typcn-pen icon"></span>Our Approach</h3>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                </div>
                <div class="row">
                    <div class="six columns">
                        <h3><span class="typcn typcn-cog-outline icon"></span>Our Goal</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                    </div>
                    <div class="six columns">
                        <h3><span class="typcn typcn-lightbulb icon"></span>Our Mission</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="team">
        <div class="container my-container" id="team">
            <h1>Meet the Team</h1>
            <div class="block"></div>
            <div class="row">
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="teamRow">
                <div class="row">
                    <div class="three columns">
                        <img src="http://placehold.it/220x220" width="220" height="220" alt="" />
                        <h4>Naruto Uzumaki</h4>
                        <p>Creative Director</p>
                        <span class="typcn typcn-social-facebook-circular icon"></span><span class="typcn typcn-social-instagram-circular icon"></span><span class="typcn typcn-social-google-plus-circular icon"></span><span class="typcn typcn-social-linkedin-circular icon"></span>
                    </div>
                    <div class="three columns">
                        <img src="http://placehold.it/220x220" width="220" height="220" alt="" />
                        <h4>Sasuke Uchiha</h4>
                        <p>Lead Designer</p>
                        <span class="typcn typcn-social-facebook-circular icon"></span><span class="typcn typcn-social-instagram-circular icon"></span><span class="typcn typcn-social-google-plus-circular icon"></span><span class="typcn typcn-social-linkedin-circular icon"></span>
                    </div>
                    <div class="three columns">
                        <img src="http://placehold.it/220x220" width="220" height="220" alt="" />
                        <h4>Shikamaru Nara</h4>
                        <p>Designer</p>
                        <span class="typcn typcn-social-facebook-circular icon"></span><span class="typcn typcn-social-instagram-circular icon"></span><span class="typcn typcn-social-google-plus-circular icon"></span><span class="typcn typcn-social-linkedin-circular icon"></span>
                    </div>
                    <div class="three columns">
                        <img src="http://placehold.it/220x220" width="220" height="220" alt="" />
                        <h4>Sakura Haruno</h4>
                        <p>Designer</p>
                        <span class="typcn typcn-social-facebook-circular icon"></span><span class="typcn typcn-social-instagram-circular icon"></span><span class="typcn typcn-social-google-plus-circular icon"></span><span class="typcn typcn-social-linkedin-circular icon"></span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container my-container" id="services">
            <h1>Services</h1>
            <div class="block"></div>
            <div class="row">
                <div class="one-third column">
                    <h3>Design</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, recusandae, at, labore velit eligendi amet nobis repellat natus.</p>
                </div>
                <div class="one-third column">
                    <h3>Development</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, recusandae, at, labore velit eligendi amet nobis repellat natus.</p>
                </div>
                <div class="one-third column">
                    <h3>Marketing</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, recusandae, at, labore velit eligendi amet nobis repellat natus.</p>
                </div>
            </div>
            <div class="row">
                <div class="eight columns">
                    <div class="progressBar">
                        <h4>HTML5</h4>
                        <div class="progressBarContainer">
                            <div class="progressBarValue value-90"></div>
                        </div>
                    </div>
                    <div class="progressBar">
                        <h4>CSS3</h4>
                        <div class="progressBarContainer">
                            <div class="progressBarValue value-80"></div>
                        </div>
                    </div>
                    <div class="progressBar">
                        <h4>Jquery</h4>
                        <div class="progressBarContainer">
                            <div class="progressBarValue value-30"></div>
                        </div>
                    </div>
                    <div class="progressBar">
                        <h4>WordPress</h4>
                        <div class="progressBarContainer">
                            <div class="progressBarValue value-70"></div>
                        </div>
                    </div>
                </div>
                <div class="four columns">
                    <p>Lorem ipsum dolor sit amet, enim soluta consectetur adipisicing elit. Sit, eius, itaque, porro, beatae impedit officia tenetur reiciendis in quia eum autem. Enim soluta consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="work">
        <div class="container my-container" id="work">
            <h1>Work</h1>
            <div class="block"></div>
            <div class="row">
                <div class="three columns"> <img src="http://placehold.it/220x220" class="image" alt="Work One" /></div>
                <div class="three columns"> <img src="http://placehold.it/220x220" class="image" alt="Work Two" /></div>
                <div class="three columns"> <img src="http://placehold.it/220x220" class="image" alt="Work Three" /></div>
                <div class="three columns"> <img src="http://placehold.it/220x220" class="image" alt="Work Four" /></div>
            </div>
            <div class="row" style="margin-top: 30px;">
                <div class="three columns"> <img src="http://placehold.it/220x220" class="image" alt="Work Five" /></div>
                <div class="three columns"> <img src="http://placehold.it/220x220" class="image" alt="Work Six" /></div>
                <div class="three columns"> <img src="http://placehold.it/220x220" class="image" alt="Work Seven" /></div>
                <div class="three columns"> <img src="http://placehold.it/220x220" class="image" alt="Work Eight" /></div>
            </div>
        </div>
    </section>

    <section id="contact">
        <div class="container my-container" id="contact">
            <h1>Contact</h1>
            <div class="block"></div>
            <form>
                <div class="row">
                    <div class="six columns">
                        <label for="exampleRecipientInput">Name</label>
                        <input class="u-full-width" type="text">
                    </div>
                    <div class="six columns">
                        <label for="exampleEmailInput">Email</label>
                        <input class="u-full-width" type="email">
                    </div>
                </div>
                <div class="row">
                    <label for="exampleMessage">Message</label>
                    <textarea class="u-full-width"></textarea>
                    @*<input class="button-primary" type="submit" value="Submit">*@
                    <input class="contactButton" type="submit" value="Submit">

                </div>
            </form>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="nine columns">
                <p>d-.-b</p>
            </div>
            <div class="three columns"> <span class="typcn typcn-social-facebook-circular socialIcons"></span> <span class="typcn typcn-social-instagram-circular socialIcons"></span> <span class="typcn typcn-social-google-plus-circular socialIcons"></span> <span class="typcn typcn-social-linkedin-circular socialIcons"></span> </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.js"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>



    @*@Html.Partial("~/Views/Shared/sidemenu.cshtml")*@


    <div class="toolbar">
        <div id="main-header" class="side-menu">
            <nav>
                <li id="home1" class="Bhome"><a href="#home"><span>Home</span></a></li>
                <li id="about1" class="Babout"><a href="#about"><span>About</span></a></li>
                <li id="team1" class="Bteam">  <a href="#team"> <span>Team</span></a></li>
                <li id="services1" class="Bservices"> <a href="#services"><span>Services</span></a></li>
                <li id="work1" class="Bwork"><a href="#work"><span>Work</span></a></li>
                <li id="contact1" class="Bcontact"><a href="#contact"><span>Contact</span></a></li>
            </nav>
        </div>
    </div>



</body>

<style>


    li {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .toolbar li {
        font-size: 2em;
    }
</style>

<script>

    //function isMobilewidth() {
    //    return $(window).width() <= 1410;
    //}

    //$(window).on('resize', function () {
    //    $('.toolbar').toggle(isMobilewidth());
    //});

    //setInterval(function () {
    //    if (!isMobilewidth())
    //        $(".toolbar").load("getMeddelanden.php");
    //}, 5000);

    $(window).load(function () {
        @* Loading effect *@
        $(".loader-wrapper").fadeOut("slow");
    });

    // smooth scroll

    // element which needs to be scrolled to
    //var element = document.querySelector("#home");

    // scroll to element
    //element.scrollIntoView();

    // smooth scroll END

    //loader

    //$(window).on("load", function () {
    //$(window).load(function () {

    //    $(".loader-wrapper").fadeOut("slow");
    //});


    //loader END


    function getMostVisibleElement(selector) {
        var clientRect = null;
        var clientRectTop = 0;
        var maxVisibleHeight = 0;
        var visibleHeightOfElem = 0;
        var mostVisibleElement = null;
        var skipRest = false;

        var visibleElems = $(selector).each(function (i, element) {
            if (skipRest === false) {
                clientRect = element.getBoundingClientRect();
                clientRectTop = Math.abs(clientRect.top);

                if (clientRect.top >= 0) {
                    visibleHeightOfElem = window.innerHeight - clientRectTop;
                } else {
                    visibleHeightOfElem = clientRect.height - clientRectTop;
                }

                if (visibleHeightOfElem >= clientRect.height) {
                    mostVisibleElement = element;
                    skipRest = true;
                } else {

                    if (visibleHeightOfElem > maxVisibleHeight) {
                        maxVisibleHeight = visibleHeightOfElem;
                        mostVisibleElement = element;
                    }
                }

            }
        });
        return mostVisibleElement;
    }

    var x = "";
    var mostVisibleSaveLast = null;

    $(window).load(function () { // IF using .ready then sometimes it shows many enabled views same time at side menu

        var mostVisible = getMostVisibleElement('.my-container');

        x = document.getElementsByClassName("b" + mostVisible.id);
        $(x).addClass('active');

        //   alert("Page is loaded");
        //console.log("testtest   "+x);
    });

    $(window).scroll(function () {
        var mostVisible = getMostVisibleElement('.my-container');
        x = document.getElementsByClassName("b" + mostVisible.id);


        if (mostVisibleSaveLast != x) {

            $(mostVisibleSaveLast).removeClass('active');
            mostVisibleSaveLast = x;

            x = document.getElementsByClassName("b" + mostVisible.id);
            $(x).addClass('active');



        }

    });


    //Works
    window.blazorHelpers = {
        scrollToFragment: (elementId) => {
            var element = document.getElementById(elementId);

            if (element) {
                element.scrollIntoView({
                    behavior: 'smooth'
                });
            }
        },
        ScrollIn: (id) => {
            let element = document.getElementById(id);
            console.log(!!element ? "SCROLLIN" : "NO FOUND ELE", id);
            if (!!element) { element.scrollIntoView(); }
        },
    };




    function fade($ele) {
        $ele.fadeIn(1000).delay(3000).fadeOut(1000, function () {
            var $next = $(this).next('.quote');
            fade($next.length > 0 ? $next : $(this).parent().children().first());
        });
    }
    fade($('.quoteLoop > .quote').first());


    $(window).scroll(function () {

        if ($(window).scrollTop() > 720) {
            $('.main_nav').addClass('sticky');
        } else {
            $('.main_nav').removeClass('sticky');
        }
    });

    // Mobile Navigation
    $('.mobile-toggle').click(function () {
        if ($('.main_nav').hasClass('open-nav')) {
            $('.main_nav').removeClass('open-nav');
        } else {
            $('.main_nav').addClass('open-nav');
        }
    });

    $('.main_nav li a').click(function () {
        if ($('.main_nav').hasClass('open-nav')) {
            $('.navigation').removeClass('open-nav');
            $('.main_nav').removeClass('open-nav');
        }
    });



</script>


<style>

    .my-container {
    }

    /*   #about1 {
                background: #007bff;
            }

            #team1 {
                background: #28a745;
            }

            #services1 {
                background: #ffc107;
            }

            #work1 {
                background: #b6ff00;
            }

            #contact1 {
                background: #17a2b8;
            }*/

    /* .highlighted {
                background: #dc3545 !important;
            }*/
</style>
