@{
    //Layout = null;
    Layout = "~/Views/Shared/EnableBlazor.cshtml";
}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-169750055-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-169750055-1');
</script>

<head>
    @*<link rel="stylesheet" href="~/css/loader.css">*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>
    
</head>
@*<script src="~/lib/jquery/dist/jquery.js"></script>*@

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/ScrollTrigger.min.js"></script>*@
<script src="~/js/green4.js"></script>
<script src="~/js/rightSideMenu.js"></script>

<link rel="stylesheet" href="~/css/rightSidebar.css">
<link rel="stylesheet" href="~/css/green4.css" />

<style>


    body {
        margin: 0;
    }





    .logo {
        width: 50px;
        fill: white;
        padding-right: 15px;
        display: inline-block;
        vertical-align: middle;
    }


    .flex { /*Flexbox for containers*/
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .waves {
        position: fixed;
        width: 100%;
        height: 0;
        margin-bottom: -7px;
        min-height: 100px;
        max-height: 150px;
        position: fixed;
        bottom: 0;
        display: block;
    }



    .content {
        position: absolute;
        height: 20vh;
        text-align: center;
        background-color: white;
    }

    /* Animation */

    .parallax > use {
        animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
    }

        .parallax > use:nth-child(1) {
            animation-delay: -2s;
            animation-duration: 7s;
        }

        .parallax > use:nth-child(2) {
            animation-delay: -3s;
            animation-duration: 10s;
        }

        .parallax > use:nth-child(3) {
            animation-delay: -4s;
            animation-duration: 13s;
        }

        .parallax > use:nth-child(4) {
            animation-delay: -5s;
            animation-duration: 20s;
        }

    @@keyframes move-forever {
        0% {
            transform: translate3d(-90px,0,0);
        }

        100% {
            transform: translate3d(85px,0,0);
        }
    }
    /*Shrinking for mobile*/
    @@media (max-width: 768px) {
        .waves {
            height: 40px;
            min-height: 40px;
        }

        .content {
            height: 30vh;
        }

        h1 {
            font-size: 24px;
        }
    }
</style>
<body>


    <div class="content__wrapper">



        <div class="my-container home" id="home">
            <div class="whiteBox">
                <div class="Nametitle">

                    <span class="greeting headerAnim">Hi </span><span id="exclamation" class="greeting headerAnimExclamation ">!</span><span class="greeting headerAnimComma ">,</span><span class="greeting headerAnim ">&nbsp;my name is</span>
                    <h1><span class="realName headerAnim">Siim Tulev</span> </h1>
                    <h3><span class="workName headerAnim">I am Back-End focused <br /> Full-Stack Web developer</span></h3>
                    <div class="buttonsContainer headerAnim">
                        <a href="mailto:siimtulev@gmail.com" class="btn btn-5"> Contact me</a>
                        <a href="https://github.com/SiimTulev" target="_blank" class="fa fa-github"></a>
                        <a href="https://www.linkedin.com/in/siim-tulev-a01465131" target="_blank" class="fa fa-linkedin"></a>

                    </div>

                </div>
            </div>

            <!--<div class="contents">-->
            @*<div class="panel">
                    <img src="~/images/greenRing.jpg" id="light" />
                    <p> oooo so so so nicee veery good cool yee  very nice good cool stuff yeah ok cya</p>
                    <div class="box"></div>
                </div>*@

            <!--</div>-->
        </div>
    </div>




    <!--Waves Container-->
    <div>
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
             viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="parallax">
                <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(0, 255, 255, 0.1)" />
                <use xlink:href="#gentle-wave" x="48" y="2" fill="rgba(0, 255, 255, 0.2)" />
                <use xlink:href="#gentle-wave" x="48" y="4" fill="rgba(0, 255, 255, 0.3)" />
                <use xlink:href="#gentle-wave" x="48" y="6" fill="rgba(0, 255, 255, 0.4)" />
                <use xlink:href="#gentle-wave" x="48" y="8" fill="rgba(0, 255, 255, 0.5)" />
            </g>
        </svg>
    </div>

</body>

<div id="main-header" class="side-menu">
        <nav>
            <li id="home1" class="Bhome"><a href="#home"><span>Home</span></a></li>
            <li id="about1" class="Babout"><a href="#about"><span>About</span></a></li>
            <li id="contact1" class="Bcontact"><a href="#contact"><span>Contact</span></a></li>
        </nav>
    </div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<ul id="menu">
    <a href="https://github.com/SiimTulev" target="_blank" class="icon fa fa-github"></a>
    <a href="https://www.linkedin.com/in/siim-tulev-a01465131" target="_blank" class="icon fa fa-linkedin"></a>
</ul>

<link href="https://fonts.googleapis.com/css?family=Roboto|Work+Sans:400,600" rel="stylesheet">

<nav role="navigation">
        <div id="menuToggle">
            <input id="phoneMenu" type="checkbox" />
            <span></span>
            <span></span>
            <span></span>
            <ul id="menu">
                <li><a class="selection" href="#">Home</a></li>
                <li><a class="selection" href="#">About</a></li>
                <li><a class="selection" href="#">Info</a></li>
                <li><a class="selection" href="#">Contact</a></li>
            </ul>
        </div>
    </nav>

    <script>
        $('#phoneMenu').change(function () {
            if ($(this).is(":checked")) {
                $('.content__wrapper').addClass("foggy");
            } else {
                $('.content__wrapper').removeClass("foggy");
            }
        });




    </script>


    <style>


@@media only screen and (max-width: 1000px) and (orientation:landscape) {
        

       /* #menuToggle input {
            width: 15rem;
            height: 15rem;
            z-index: 2;
            top: -10.1rem;
            left: -2.1rem;
        }

        .selection {
            font-size: calc(3.2vw + 3.2vh + 1.6vmin) !important;
            padding-top: 0 !important;
            z-index: 3;
        }*/
}

    .fa:hover {
        opacity: 0.5;
        color: aquamarine;
    }

    .foggy {
        filter: blur(10px);
    }


    .selection {
        text-decoration: none;
        color: #1E1E23;
        opacity: 1;
        font-size: 5rem;
        font-weight: 400;
        transition: 200ms;
        padding-top: 10rem;
        padding-right: 5rem;
    }

        .selection:hover {
            opacity: 0.5;
        }

    ul {
        padding: 0;
        list-style-type: none;
    }



    .container {
        margin-top: 50px;
        Display: flex;
        justify-content: center;
        align-items: center;
    }

    .phone {
        background-color: #36383F;
        border-radius: 40px;
        width: 300px;
        height: 600px;
        Display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 30px 50px 100px #85888C;
    }

    .content {
        border: 1px solid #36383F;
        border-radius: 20px;
        width: 94%;
        height: 91%;
        background-color: #F5F6FA;
        overflow: hidden;
    }

    nav {
        /*        background-color: #1E1E23;
    */ height: 65px;
    }


    #menuToggle {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 5rem;
        right: 5rem;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
    }

        #menuToggle input {
            display: flex;
            width: 15rem;
            height: 15rem;
            position: absolute;
            cursor: pointer;
            opacity: 0;
            z-index: 2;
            top: -5.1rem;
            left: -5.1rem;
        }

        #menuToggle span {
            display: flex;
            width: 89px;
            height: 10px;
            margin-bottom: 20px;
            position: relative;
            background: #ffffff;
            border-radius: 3px;
            z-index: 10000000000000;
            transform-origin: 5px 0px;
            transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;
            pointer-events: none;
        }

            #menuToggle span:first-child {
                transform-origin: 0% 0%;
            }

            #menuToggle span:nth-last-child(2) {
                transform-origin: 0% 100%;
            }

        #menuToggle input:checked ~ span {
            opacity: 1;
            transform: rotate(45deg) translate(-2px, 2px);
            background: #36383F;
        }

            #menuToggle input:checked ~ span:nth-last-child(3) {
                transform: rotate(0deg) scale(0.2, 0.2);
                opacity: 0;
            }

            #menuToggle input:checked ~ span:nth-last-child(2) {
                transform: rotate(-45deg) translate(0, -5px);
            }

        #menu {
            /* position: fixed;
        width: 50vw;
        height: 100vh;
        box-shadow: 0 0 10px #85888C;
        margin: -50px 0 0 -50px;
        padding: 50px;
        padding-top: 125px;
        background-color: #F5F6FA;
        -webkit-font-smoothing: antialiased;
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);*/
            /**/
            /* position: fixed;
        width: 50vw;
        height: 100vh;
        box-shadow: 0 0 10px #85888C;
        margin: -50px 0 0 -50px;
        padding: 50px;
        padding-top: 125px;
        background-color: #F5F6FA;
        -webkit-font-smoothing: antialiased;
        transform-origin: 0% 0%;
        transform: translate(120vw, 0);
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
        left: 50vw;*/
            /**/
            position: fixed;
            width: 50vw;
            height: 100vh;
            box-shadow: 0 0 10px #85888C;
            margin: -50px 0 0 -50px;
            padding: 50px;
            background-color: #F5F6FA;
            -webkit-font-smoothing: antialiased;
            transform-origin: 0% 0%;
            transform: translate(120vw, 0);
            transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
            left: 50vw;
            height: 100vh;
            padding-top: 20vh;
        }

        #menu li {
            padding: 10px 0;
            transition-delay: 2s;
        }

    #menuToggle input:checked ~ ul {
        transform: none;
    }

    #menuToggle input:checked {
        .content__wrapper

    {
        backdrop-filter: blur(5px);
    }

    }


    /**/
    .icon {
        color: #fff;
        font-size: 32px;
        display: block;
    }

    .fa {
        text-decoration: none;
    }

    ul .icon:hover {
        opacity: 0.5;
    }

    ul {
        position: fixed;
        z-index: 1;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        height: 280px;
        width: 10%;
        padding: 0;
        text-align: center;
    }

    #menu .icon {
        opacity: 0;
        margin: 30px 0;
        transition: all .5s ease-out !important;
        -webkit-transition: all .5s ease-out;
        -moz-transition: all .5s ease-out;
        -o-transition: all .5s ease-out;
        z-index: 5353535353;
    }
    </style>









<script>
    $('.clicker').click(function () {
        $('body').toggleClass('overlay');
    });


    //gsap.registerPlugin(ScrollTrigger);

    //gsap.to(".first", {
    //    scrollTrigger: {
    //        trigger: ".first",
    //        start: "0px 80%",
    //        end: "0px 10%",
    //        scrub: true,
    //        //markers: true
    //    },
    //    x: 800,
    //    rotation: 360,
    //    ease: "none",
    //    duration: 3
    //});
</script>