@{
    //Layout = null;
    Layout = "~/Views/Shared/EnableBlazor.cshtml";
}

<head>
    @*<link rel="stylesheet" href="~/css/loader.css">*@

</head>
@*<script src="~/lib/jquery/dist/jquery.js"></script>*@

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/ScrollTrigger.min.js"></script>
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/CustomEase3.min.js"></script>
<script src="~/js/green4.js"></script>
<script src="~/js/rightSideMenu.js"></script>

<link rel="stylesheet" href="~/css/rightSidebar.css">
<link rel="stylesheet" href="~/css/green4.css" />

<body>
    <div class="my-container home" id="home">
        <div class="whiteBox">

            <div class="Nametitle">
                <h1 class="heading"><span class="name">Siim Tulev</span> </h1>

                <h2 class="heading"><span class="workName">Web Developer & Designer</span></h2>
            </div>
        </div>

        <div class="contents">

            <span class="EngForTom">Engineering  </span>
            <span class="EngForTom"> For</span>
            <span class="EngForTom">Tomorrow</span>
            <br />
            <br />
            <br />
            <div class="buttonsContainer">
                <a class="btn btn-1">
                    <svg>
                        <rect x="0" y="0" fill="none" width="100%" height="100%" />
                    </svg>
                    Hover
                </a>
                <a class="btn btn-2">Hover</a>
                <a class="btn btn-3">Hover</a>
                <a class="btn btn-4">Hover</a>
                <a class="btn btn-5">Hover</a>
            </div>
            <div class="panel">
                <img src="~/images/greenRing.jpg" id="light" />
                <p> oooo so so so nicee veery good cool yee  very nice good cool stuff yeah ok cya</p>
                <div class="box"></div>
            </div>
            <br />    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
            <div class=" first">ASDASD</div>
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        </div>
    </div>
    <div class="my-container" id="about">
        <p>asgagageagea</p>
        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />        <p>asgagageagea</p>

        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        <p>asgagageagea</p>

        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        <div class=" first">ASDASD</div>
    </div>


    <div class="my-container" id="work">
        <h1>Work</h1>
        <div class="block"></div>
        <div class="row">
            <div class="three columns"> <img src="http://placehold.it/220x220" class="image" alt="Work One" /></div>
            <div class="three columns"> <img src="http://placehold.it/220x220" class="image" alt="Work Two" /></div>
            <div class="three columns"> <img src="http://placehold.it/220x220" class="image" alt="Work Three" /></div>
            <div class="three columns"> <img src="http://placehold.it/220x220" class="image" alt="Work Four" /></div>
        </div>
        <div class="row" style="margin-top: 30px;">
            <div class="three columns"> <img src="http://placehold.it/220x220" class="image" alt="Work Five" /></div>
            <div class="three columns"> <img src="http://placehold.it/220x220" class="image" alt="Work Six" /></div>
            <div class="three columns"> <img src="http://placehold.it/220x220" class="image" alt="Work Seven" /></div>
            <div class="three columns"> <img src="http://placehold.it/220x220" class="image" alt="Work Eight" /></div>
        </div>
    </div>

    <div class="my-container" id="contact">
        <h1>Contact</h1>
        <div class="block"></div>
        <form>
            <div class="row">
                <div class="six columns">
                    <label for="exampleRecipientInput">Name</label>
                    <input class="u-full-width" type="text">
                </div>
                <div class="six columns">
                    <label for="exampleEmailInput">Email</label>
                    <input class="u-full-width" type="email">
                </div>
            </div>
            <div class="row">
                <label for="exampleMessage">Message</label>
                <textarea class="u-full-width"></textarea>
                @*<input class="button-primary" type="submit" value="Submit">*@
                <input class="contactButton" type="submit" value="Submit">

            </div>
        </form>
    </div>
</body>


<script>
    //gsap.registerPlugin(ScrollTrigger);

    //gsap.to(".first", {
    //    scrollTrigger: {
    //        trigger: ".first",
    //        start: "0px 80%",
    //        end: "0px 10%",
    //        scrub: true,
    //        //markers: true
    //    },
    //    x: 800,
    //    rotation: 360,
    //    ease: "none",
    //    duration: 3
    //});




</script>


<style>

    /*  .first {
        position: absolute;
    }

    body {
        margin: 10px;
    }

    .box {
        display: block;
    }

    .pink {
        background-color: pink;
    }*/
</style>


<div id="main-header" class="side-menu">
    <nav>
        <li id="home1" class="Bhome"><a href="#home"><span>Home</span></a></li>
        <li id="about1" class="Babout"><a href="#about"><span>About</span></a></li>
        <li id="team1" class="Bteam">  <a href="#team"> <span>Team</span></a></li>
        <li id="services1" class="Bservices"> <a href="#services"><span>Services</span></a></li>
        <li id="work1" class="Bwork"><a href="#work"><span>Work</span></a></li>
        <li id="contact1" class="Bcontact"><a href="#contact"><span>Contact</span></a></li>
    </nav>
</div>