@{
    Layout = null;
    //Layout = "~/Views/Shared/EnableBlazor.cshtml";
}

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/CustomEase3.min.js" defer></script>
    <script src="/js/gsap.js" defer></script>
    <link rel="stylesheet" href="~/css/green2.css" />

    <style>
        body {
            margin: 0;
            height: 100vh;
            display: flex;
            flex-direction: column;
            overflow:hidden; /* hide scrollbar*/
        }

        .header {
            height: 15vh;
            background-color: red;
        }

        .links {
            height: 100%; /*put links to center*/
            align-items: center; /*put links to center*/
            display: flex;
            justify-content: space-around;
            color: white;
        }

        .content {
            flex-grow: 1;
            display: flex;
            justify-content: space-between;
        }

        .sidebar {
            background-color: green;
            width: 15vw;
        }

        .button {
            align-self: center;
        }

        .footer {
            transform:translateY(100%);
            height: 15vh;
            background-color: blue;
        }
    </style>
</head>

<body>
    <div class="header">
        <div class="links">
            <div class="link">Link 1</div>
            <div class="link">Link 2</div>
            <div class="link">Link 3</div>
        </div>
    </div>
    <div class="content">
        <div class="sidebar left"></div>
        <button class="button">Reverse!</button>
        <div class="sidebar right"></div>

    </div>
    <div class="footer"></div>
</body>

<script>



</script>